<h1>Sample App</h1>

<p>Hi Admin,</p>

<p>Welcome to the Sample App!</p>
<p><strong>Subject: <%= @message.contact_subject %></strong><br>
Message: <%= @message.message %></p>


<p>From: <%= @message.contact_name %></p>